 *{
    padding: 0;
    margin: 0;
    font-family: mv boli;    
}
#main{
    text-transform: capitalize; 
}

/* div 1 starts */

#Div1{
    height: 100px;
   background: linear-gradient(skyblue,white);
}
#subdiv1{
    width: 300px;
    height: 100px;
    background-image: url(https://i.pinimg.com/originals/1b/8e/62/1b8e628911c42bb354ff8c60e2cd2f97.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    cursor: no-drop;
}
#subdiv2{
    float: left;
}
.divmenutags{
    padding: 10px 30px;
    border-radius: 10%;
    background: linear-gradient(white,rgb(32, 85, 105));
    text-align: center;
    float: left;
    margin: 15px 10px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: .5s;
    transition-timing-function: linear;
}
.divmenutags:hover{
    background:linear-gradient(rgb(134, 255, 134),rgb(255, 255, 255));
    color: rgb(0, 0, 0);
    
}
.divmenutags a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}  

.divmenutags:hover a{
    color:crimson;
}

/* div 1 ends */


/* div 2 starts */

#Div2{
    background-image: url(https://images.wallpaperscraft.com/image/single/ocean_beach_aerial_view_134429_1920x1080.jpg);
    background-size: cover;
    text-align: center;
    padding: 50px 80px;
}
#Head1{
    color: rgba(255, 255, 255, 0.575);
    font-size: 150px;
    margin: 20px 50px 0px 50px;
    text-transform: uppercase;
}
#Head2{
    color: rgb(255, 255, 255);
    margin: 0px;
}
#Head3{
    background-color: rgb(23, 109, 121);
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 15px;
    margin-top: 20px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: .5s;
    transition-timing-function: linear;
    
}
#Head3:hover{
    background-color: rgb(255, 255, 255);
    cursor:pointer;
}
#Head3 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#Head3:hover a{
    color: rgb(75, 23, 23);
}
/* div 2 ends */



/* div 3 starts */

#Div3{
    background-color: rgb(5, 5, 41);
    padding: 50px 50px 100px 100px;
    
}
#div3Head3{
    color: rgb(255, 255, 255);
    float: left;
    margin-left: -54px;
}

.div3inputbox{
    background-color: cornsilk;
    border-style: solid;
    border-width: 1px;
    padding: 10px 40px;
    border-radius: 5px;
    float: left;
    margin: 0px 20px;
}
.div3inputbox:hover{
    background-color: rgb(255, 139, 139);
    color: rgb(2, 5, 26);
    cursor:text;
}
#Searchtags4{
    width: 150px;
    letter-spacing: 5px;
    background-color: rgba(170, 217, 235, 0.685);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 30px;
    float: left;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: .5s;
    transition-timing-function: linear;
}

#Searchtags4:hover{
    background-color: aliceblue;
    color: rgb(2, 5, 26);
    cursor:pointer;
}
/* div 3 ends */



/* div 4 starts */

#Div4{
    background: linear-gradient(white 90%,rgb(0, 0, 0));
    height: 1150px;
    float: left;
}
#Div4H2{
    letter-spacing: 5px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
    text-align: center;
}
#Div4H3{
    font-weight: lighter;
    padding: 0px 250px;
    color: rgb(105, 102, 102);
    text-align: center;
}
#Div4content{
    font-size: 30px;
       
}
#Destinations1{
    width: 300px;
    height: 300px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL5N3HZh0M2SXvgqUosayA23OGCQfjP5GCLA&usqp=CAU);
    margin: 50px 30px 50px 90px;
    float: left;
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Bodoni Bd BT;
    background-color:rgba(0, 0, 0, 0.534);
    background-blend-mode:hard-light;
        
}
#destinationdetail1{
    font-size: 20px;
    background-color: rgb(78, 194, 155);
    border-radius:20px;
    text-decoration:none;
    color:black;
    font-family: none;
    padding: 5px 20px;
    margin-top: 100px;
    
}
#Destinations2{
    width: 300px;
    height: 300px;
    background-image: url(https://www.pouted.com/wp-content/uploads/2016/05/Tourist-Attractions-in-Italy-780x405.jpg?x71148);
    background-color: white;
    margin: 50px 30px 50px 90px;
    float: left;
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Bodoni Bd BT;
    background-color:rgba(0, 0, 0, 0.534);
    background-blend-mode:hard-light;
}
#Destinations3{
    width: 300px;
    height: 300px;
    background-image: url(https://cdn-ccnjl.nitrocdn.com/FFlOINYZCUxrEWbcRFzJMkRxycjLZyST/assets/static/optimized/blog/wp-content/uploads/2017/04/00c2bc583cc64f6563be675617e2d6e1.Gardens-by-the-Bay-Singapore.jpg);
    background-color: white;
    margin: 50px 30px 50px 90px;
    float: left;
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Bodoni Bd BT;
    background-color:rgba(0, 0, 0, 0.63);
    background-blend-mode:hard-light;
}

#Destinations4{
    width: 300px;
    height: 300px;
    background-image: url(https://navbharattimes.indiatimes.com/photo/msid-83570334,imgsize-507255/pic.jpg);
    background-color: white;
    margin: 50px 30px 50px 90px;
    float: left;
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Bodoni Bd BT;
    background-color:rgba(0, 0, 0, 0.76);
    background-blend-mode:hard-light;
}

#Destinations5{
    width: 300px;
    height: 300px;
    background-image: url(https://www.planetware.com/photos-large/USNY/usa-best-places-new-york.jpg);
    background-color: white;
    margin: 50px 30px 50px 90px;
    float: left;
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Bodoni Bd BT;
    background-color:rgba(0, 0, 0, 0.767);
    background-blend-mode:hard-light;
}

#Destinations6{
    width: 300px;
    height: 300px;
    background-image: url(https://www.readersdigest.ca/wp-content/uploads/2019/01/canada-attractions-lake-louise.jpg);
    background-color: white;
    margin: 50px 30px 50px 90px;
    float: left;
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Bodoni Bd BT;
    background-color:rgba(0, 0, 0, 0.678);
    background-blend-mode:hard-light;
}
#span1{
    font-family: 'Times New Roman';
    margin-top: 200px;
    text-align: center;
    
}

/* div 4 ends */


/* div 5 starts */
#Div5{
    background-color: black;
    height: 250px;
    width: 100%;
    float: left;
    
    
}
#div5news{
    margin-top: 40px;
    margin-left: 40px;
    float: left;
}
#headingdiv5{
    color: blanchedalmond;
    font-family: 'Times New Roman';
    font-size: 35px;
    margin-bottom: 0px;
}
#div5para{
    color: blanchedalmond;
    font-size: 15px;
    margin-top: 10px;
}
#inputbox{
    background-color: rgb(201, 158, 94);
    width: 400px;
    height: 40px;
    float: left;
    margin-left: 40px;
    margin-top: 100px;
    border-radius: 5px;
}
#inputbox:hover{
    background-color: rgb(86, 252, 243);
    color: rgb(2, 5, 26);
    cursor:text;
}
#div5searchblock{
    background-color: rgb(201, 158, 94);
    float: left;
    
    
}

#div5search{
    color: rgb(0, 0, 0);
    background-color: rgb(189, 222, 135);
    float: left;
    margin-top: 85px;
    margin-left: 50px;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 30px;
    
}
#div5search:hover{
    background-color: rgb(255, 137, 137);
    color: rgb(2, 5, 26);
    cursor:pointer;
}
/* div 5 ends */


/* div 6 starts */

#div6{
    height: 1000px;
    background:linear-gradient(white 30%,black);
    float: left;
}
#place1{
    width: 400px;
    margin: 100px 0px 0px 30px;
    float: left;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding-top: 40px;
}
#place2{
    width: 400px;
    background-color: rgb(255, 255, 255);
    margin: 100px 0px 0px 30px;
    float: left;border-radius: 20px;
    text-align: center;
    padding-top: 40px;
}
#place3{
    width: 400px;
    background-color: rgb(255, 255, 255);
    margin: 100px 0px 0px 30px;
    float: left;border-radius: 20px;
    text-align: center;
    padding-top: 40px;
}
#divplace4h3{
    margin-bottom: 0px;
    margin-top: 20px;
}
#divplace4h4{
    margin-top: 10px;
    font-family: arial;
    color: gray;
}
#pricecalifornia{
    background-color: turquoise;
    border-radius: 20px;
    margin: 50px 120px 30px 120px;
}
#price5000{
    text-decoration: none;
    color: black;
    
}
#div6moreplaces{
    background-color: burlywood;
    float: left;
    padding: 10px 30px;
    margin-top: 80px;
    margin-left: 600px;
    border-radius: 10px;
}
#div6moreplacestyle{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: arial;
    font-weight: lighter;
}

/* div 6 ends */



/* div 7 starts */
#div7{
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    float: left;
}
#div7heading{
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: garamond;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: 50px;
}
#div7video{
    margin-top: 50px;
         
}

/* div 7 ends */


/* div 8 start */
#div8{
    height: 1000px;
    background:linear-gradient(rgb(0, 0, 0) 85%,rgb(255, 255, 255));
    float: left;
    margin-top: 0px;
}
#Div8H2{
    color: aliceblue;
    letter-spacing: 5px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
    text-align: center;
}
#Div8H3{
    font-weight: lighter;
    padding: 0px 250px;
    color: rgb(105, 102, 102);
    text-align: center;
}
#service1{
    width: 400px;
    margin: 100px 0px 0px 30px;
    float: left;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding-top: 40px;
}
#service2{
    width: 400px;
    background-color: rgb(255, 255, 255);
    margin: 100px 0px 0px 30px;
    float: left;border-radius: 20px;
    text-align: center;
    padding-top: 40px;
}
#service3{
    width: 400px;
    background-color: rgb(255, 255, 255);
    margin: 100px 0px 0px 30px;
    float: left;border-radius: 20px;
    text-align: center;
    padding-top: 40px;
}
#divplace4h3{
    margin-bottom: 0px;
    margin-top: 20px;
}
#divplace4h4{
    margin-top: 10px;
    font-family: arial;
    color: gray;
}
#pricedetailsdiv8{
    background-color: rgb(64, 224, 64);
    border-radius: 20px;
    margin: 50px 120px 30px 120px;
}
#div8moredetail{
    text-decoration: none;
    color: black;   
}
#div8moreplaces{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(211, 111, 64);
    float: left;
    padding: 10px 30px;
    margin-top: 80px;
    margin-left: 600px;
    border-radius: 100%;
}
#div8moreplacestyle{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: arial;
    font-weight: lighter;
}
/* div 8 ends */


/* form tag */
#formtag{
    width: 100%;
    text-align: center;
    background-color: rgb(180, 230, 230);
    float: left;
}
#formh2{
    text-transform: uppercase;
    font-family: optima;
    letter-spacing: 5px;
    font-size: 40px;
}
#formtable{
    margin: auto;
}
#formstart label{
    font-family: 'Times New Roman';
}
.typebox{
    width: 300px;
    border-radius: 10px;
    background-color: rgb(241, 245, 244);
    border-style: solid;
    border-color: #859380;
}
.btn {
    margin: 20px 0px;
    padding: 10px 30px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.76);
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}


/* div 9 starts */

#div9{
    background-color: rgb(9, 37, 70);
    float: left;
    height: 400px;
    width: 100%;
    color: cornsilk;
}
#address{
    margin-top: 100px;
    margin-left: 150px;
    float: left;
}
#addresspara{
    font-family:Arial ;
}
#company{
    margin-top: 100px;
    margin-left: 100px;
    float: left;
}
#div9company{
    margin-top: 0px;
    font-family: arial;
}
#companytags{
    text-decoration: none;
    color: cornsilk;
    font-weight: 100;
}
#populardestinations{
    margin-top: 100px;
    margin-left: 100px;
    float: left;
}
#div9populardesti{
    margin-top: 0px;
    font-family: arial;
}
#desti1{
    text-decoration: none;
    color: cornsilk;
    font-weight: 100;
}
#div9pictures{
    margin-top: 0px;
    margin-top: 100px;
    margin-left: 50px;
    float: left;
}
#div9insta{
    padding-left: 10px;
    margin-top: 0px;
    font-family: arial;
}
#instapics{
    width: 350px;
    float: left;
}
#div9instapic1{
    background-image: url(https://picsum.photos/200);
    border-radius: 5px;
    width: 75px;
    height: 75px;
    background-size: contain;
    margin: 10px 20px;
    float: left;
    cursor: pointer;
}

/* div 9 ends */


/* div 10 starts */
#div10{
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 0px;
    float: left;
}
#paradiv10{
    color: cornsilk;
    font-family: normal;
}
/* div 10 ends */


/* Go to top  */

#gototop{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* decendent */

#gototop i{
    font-size: 40px;
    color: darkred;
}


/* go to bottom */

#gotobottom{
    position: fixed;
    top: 20px;
    right: 20px;
}

/* desendent */

#gotobottom i{
    font-size: 40px;
    color: darkred;
}

/* Social Media Toolbar */
#social{
    width: 40px;
    background-color: rgba(104, 190, 211, 0.247);
    text-align: center;
    font-size: 16px;
    position: fixed;
    left: 10px;
    top: 240px;
}

.socialmediaIcons{
    color: darkblue;
    display:block;
}

.socialmediaIcons:hover{
    color: coral;
    font-size: 24px;
}




